* {
  margin: 0;
  /* height: 100%; */
  width: 100%;
}

.contenedor {
  display: grid;
  grid-template-rows: 10% 20% auto   12%;
}

.cabecera2 img {
  height: 80px;
  width: 100px;
margin-left: 5%;
  /* position: relative; */
  /* left: 5%; */
 
}

/* .cabecera2  button{
  width: 150px;
  height: 100px;
  border-radius: 50%;
  background-image: url(./3144456.png);
     
} */
.cabecera2 {
  display: flex;
  background-color: green;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  /* position: fixed;
  height: 40%;
  z-index: 5; */
  
}

.cabecera2 p {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
   left: 1%;
  color: white;
}
.caja2 {
  background-image: url(tomasz2-filipek-CUWC-6MRcNg-unsplash.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.caja2 h1 {
  color: green;
  position: relative;
  bottom: 10%;
}
.caja2 #input input {
  width: 40%;
  height: 50%;
  border-radius: 5px solid white;
  border-radius: 10px;
}
#input{

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}
#card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 500px;
  margin-top: 10%;
}

#targ > * {
  height: 200px;
  width: 200px;
}

#card div {
  height: auto; /* Ajustar la altura de los elementos */
  width: 280px; /* Ajustar el ancho de los elementos */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(154, 230, 154);
  margin: 20px;
  border-radius: 20px;
  margin-left: 10%;
  /* border: 0.5px solid black; */
  position: relative;
  bottom: 5%;
 
}

#card div > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: green;
  position: relative;
  bottom: 0;
}
.footer p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.footer > * {
  /* height: 10%; */
}
.footer .h1f h1 {
  margin-top: 5%;
  color: white;
}
#card p {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  bottom: 8%;
  
}
#card img {
  width: 280px;
  height: 150px;
  position: relative;
  /* bottom: 68px; */
  border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
#card > *:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 2px 1px;
}
#card h2 {
  
  position: relative;
  bottom: 8%;
  font-size: 20px;
  color: black;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cabecera2 img {
  width: 150px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  /* left: 5%; */
  z-index: 1;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 40px;
  color: white;
}
.contenido h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 60px;
}
#card button {
  width: 150px;
  /* margin-top: 5%; */
  position: relative;
  bottom: 5%;
  height: 40px;
  border-radius: 10px;
  background-color: green;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
#card button:hover {
  background-color: white;
  color: black;
}

.n {
  color: black;
}
.contenido h1 {
  margin-top: 10%;
  color: green;

}

table {
  background-color:green;
  width: 45%;
  /* margin-left: 40%; */
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
thead {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  
}
tbody tr td{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: brown;
  border: 1px solid white;
  color: white;

}
 table tr td{

       width:20% ;
        text-align: center;
       align-items: center;
  
 }
 table>*{

    margin: 10px;
 }
 .img2:hover{
     
      display: block;
     
 }
 .imga{
     
    
 }
 .cabecera2 button {
  width: 450px;
  height: 80px;
  border-radius: 50%;
  background-image: url(./icono.png);
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el botón */
  background-position: center; /* Centra la imagen en el botón */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  border: none; 
  position: relative;
  left: 45%;
  background-color: transparent;
  cursor: pointer;
}
.total {
  font-size: 25px;
  color: white;
}
.total2 {
  font-size: 20px;
  color: white;
}
.cabecera2 button:hover{
     background-color: antiquewhite;

}
#oculto{

  display: none;
  margin: auto;
    margin-top: 150px;
    width: 80%; 
    overflow: scroll;
    max-height: 800px;
}
#cerrar{

       display: none;
       width: 7%;
       position: relative;
       bottom:10px;
       left: 40%;
       background-color: transparent;
       border: none; 
}
.cabecera2 .carrito-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
}
#cantidadCarritoSpan{

   margin-left: 45%;
   padding: 0;
   font-size: 40px;
   color: white;
}
span{

  
}
@media (max-width: 1200px) {
  #card {
    display: grid;
    grid-template-columns:repeat(3, 20%);
    gap: 15%;
 
    /* height: 150%; */
  }


         .footer{

      display: flex;
     flex-direction: column;
    }
  

  .contenido h1{

      text-align: center;
  }
  .caja2 h1{

    text-align: center;
}
.contenedor {
  display: grid;
  grid-template-rows: 5% 10% 115%  16%;
}

}
@media (max-width: 1000px) {
  #card {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 5%;
   
    justify-content: center;
    align-items: center;

 
  }

  #card h2{
    position: relative;
    bottom: 20px;
      
   }
   #card p{
    position: relative;
     bottom: 20px;
       
    }
    #card button{
      position: relative;
      bottom: 20px;
       
    }
    .cabecera2{

         display: flex;
        flex-direction: column;
    }
  
    .contenedor {
      display: grid;
      grid-template-rows: 10% 10% 105%  12%;
    }
    .cabecera2 button{


           width: 100px;
           height: 100px;
           position: relative;
           left: 1%;
    }
    #cantidadCarritoSpan {
      position: relative;
      right: 12%;
      bottom: 20%;
     width: 5%;
   
}
#cantidadCarritoSpan span{
  height: 20%;
}
.cabecera2 p{
  width: 20%;


}

}
@media (max-width: 700px) {
  #card {
    display: grid;
    grid-template-columns:repeat(1, 20%);
    gap: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 150%; */
  }
   .footer{

       position: relative;
       top:0;
       height: 50%;
  }
  .contenido h1{
    display: flex;

    justify-content: center;
    align-items: center;
        width: 100%;
  }
  .contenedor {
    display: grid;
    grid-template-rows: 5% 10% 95%  12%;
  }
  #cantidadCarritoSpan {
    position: relative;
    right: 50px;
    bottom: 20%;
   width: 5%;
 
}
}